<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container imgslidcla">
	<div id="sliderFrame">
    	<div id="slider">
    	    <a href="" target="_blank">
    	        <img src="img/ScreenSlide1.png" alt="" class="img-responsive" />
    	    </a>
    	    <img src="img/ScreenSlide2.png" alt="" class="img-responsive" />
    	    <img src="img/ScreenSlide3.png" alt="" class="img-responsive" />
    	</div>        
	</div>
</div>


<br>
<br>
<section class="InAtEd panel">
	<div class="container">
		<div class="col-lg-7 col-md-7 col-sm-7">
			<div ng-click="animate()" class="animation">
				<h1 class="InEdu1" ng-show="var1">Information</h1>
				<h1 class="InEdu2" ng-show="var1">At</h1>
				<h1 class="InEdu3" ng-show="var1">Education</h1>
				<h2 class="InEdu4" ng-show="var2">Information at Education</h2>
				<p class="InEdu5" ng-show="var2">Welcome to LEARN – Education is not just a way of acquiring knowledge, but it is a process of learning that makes us better human beings. New skills and knowledge refine the thinking process refined and adds new dimensions to the personality. When the learning process is effective and interesting, the journey of knowledge is fun-filled and enjoyable. In the crowd of websites that have good entertaining material but lack in educational values, we shine differently with an incredible balance of fun and learn. We feel that there is an equal importance of breadth and depth in a learning website. Due to a passion of creating a great online educational platform, we come out with path breaking programs for effective learning. We bring a practical and usable online solution for your educational needs for the kids with modules that are based on an intelligent mix of real-world challenges and theoretical concepts.</p>
			</div>
		</div>

		<div class="col-lg-5 col-md-5 col-sm-5">
			<img src="img/home1page.jpg" class="img-responsive">
		</div>
	</div>
</section>
<section class="HoDoWo panel blue">
	<div class="container">
		<div class="col-lg-5 col-md-5 col-sm-5">
			<img src="img/homepage-learining.png" class="img-responsive">
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7">
			<div ng-click="animate2()">
				<h1 class="InEdu6" ng-show="var3">How</h1>
				<h1 class="InEdu7" ng-show="var3">Does it</h1>
				<h1 class="InEdu8" ng-show="var3">Work?</h1>
				<h2 class="InEdu4" ng-show="var4">How does it work?</h2>
				<p class="InEdu5" ng-show="var4">Online learning is the new-age, smart way of education that uses the strengths of audio-visual mode to teach fundamental concepts in an interesting and interactive manner. Our motto is to improve skills of kids without compromising on the fun aspect. Our content is arranged in such a way that they effectively develop cognitive skills and intellect of your kid. Parents and teachers can trust us for delivering a fun-filled, safe Internet experience to the kids. We reinforce the concepts learned in the formal education and help then acquiring further skills of problem- solving, reasoning, and computers.</p>
			</div>
		</div>
	</div>
</section>
<section class="SkBaLe panel">
	<div class="container">
		<div class="col-lg-7 col-md-7 col-sm-7">
			<div ng-click="animate3()">
				<h1 class="InEdu9" ng-show="var5">Skill</h1>
				<h1 class="InEdu91" ng-show="var5">Based</h1>
				<h1 class="InEdu92" ng-show="var5">Learning</h1>
				<h2 class="InEdu4" ng-show="var6">Skill-based learnings</h2>
				<p class="InEdu5" ng-show="var6">Welcome to LEARN – Education is not just a way of acquiring knowledge, but it is a process of learning that makes us better human beings. New skills and knowledge refine the thinking process refined and adds new dimensions to the personality. When the learning process is effective and interesting, the journey of knowledge is fun-filled and enjoyable. In the crowd of websites that have good entertaining material but lack in educational values, we shine differently with an incredible balance of fun and learn. We feel that there is an equal importance of breadth and depth in a learning website. Due to a passion of creating a great online educational platform, we come out with path breaking programs for effective learning. We bring a practical and usable online solution for your educational needs for the kids with modules that are based on an intelligent mix of real-world challenges and theoretical concepts.</p>
			</div>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5">
			<img src="img/home3.jpg" class="img-responsive">
		</div>
	</div>
</section>
<section class="OnMo panel yellow" >
	<div class="container">
		<div class="col-lg-5 col-md-5 col-sm-5">
			<img src="img/reports-homepage.png" class="img-responsive">
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7">
			<div ng-click="animate4()">
				<br><br>
				<h1 class="InEdu93" ng-show="var7">Ongoing</h1>
				<h1 class="InEdu94" ng-show="var7">Monitoring</h1>
				<h2 class="InEdu4" ng-show="var8">Ongoing Monitoring</h2>
				<p class="InEdu5" ng-show="var8">Our modules have been designed intelligently to mark the cognitive development of students in a perpetual manner. The lessons are arranged in the order of difficulty and skills, and there is an automated monitoring of understanding levels and learning skills. We make sure that better learning tools are made available to you for domestic and institutional purpose. Our software has been designed for kids of different levels of understanding. We want to keep total transparency in the performance evaluation process. The website offers login to the student portal where students and parents can look at the progress. Our special reward system encourages students to perform better in each test or self assessment.</p>
			</div>
		</div>
	</div>
</section>