<div>
	<div class="container">
		<div class="row">
			<img src="img/student-banner.jpg" width="100%" class="img-responsive">
		</div>
		<div class="row">
			<div class="find-ques">
				<label class="questionp">
					Looking for valuable means of education?
				</label>
				<div class="droplabel">
					<label for="person">
						I am a
					</label>
					<select ng-model="selec_class" class="selection">
						<option value="0">Select One</option>
						<option value="1">Pre-K</option>
						<option value="2">Kindergarten</option>
						<option value="3">First Grade</option>
						<option value="4">Second Grade</option>
						<option value="5">Third Grade</option>
						<option value="6">Fourth Grade</option>
						<option value="7">Fifth Grade</option>
						<option value="8">Sixth Grade</option>
						<option value="9">Seventh Grade</option>
						<option value="10">Eighth Grade</option>
						<option value="11">Ninth Grade</option>
						<option value="12">Tenth Grade</option>
						<option value="13">Eleventh Grade</option>
						<option value="14">Twelfth Grade</option>
					</select>
					<label for="service-type">
						Interest in learning
					</label>
					<select ng-model="selected_subj" class="selection">
						<option value="Select One">Select One</option>
						<option value="1">Mathematics</option>
						<option value="2">Physics</option>
						<option value="3">Chemistry</option>
					</select>
					<span class="droptn">Lets Begin</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="padding: 0px">
		<div class="row">
			<div class="col-md-4">
				<a href="" class="chapters btn btn-chapter" style="line-height:35px;margin: 0px 0px 10px 0px;">
					<i class="fa fa-2x fa-user"></i>
					Student Profile
				</a>
			</div>
			<div class="col-md-4">
				<a href="" class="chapters btn btn-chapter" style="line-height:35px;margin:0px 0px 10px 0px;">
					<i class="fa fa-2x fa-table"></i>
					"Reports"
				</a>
			</div>
			<div class="col-md-4">
				<a href="" class="chapters btn btn-chapter" style="line-height:35px;margin:0px 0px 10px 0px;">
					<i class="fa fa-2x fa-sitemap"></i>
					"Curriculum"
				</a>
			</div>
		</div>
	</div>
</div>
<div ng-show="vur1" class="vur2">
	<div>
		<div class="row">
			<div class="container" style="padding:0px;">
				<div id="main-boxes" class="row">
					<div class="col-md-4">
						<div class="box-style-2 green" style="height:228px;">
							<a href="" style="text-decoration:none">
								<img alt src="img/chapter-icon.png" class="img-responsive">
								<h3>Chapter Wise Test</h3>
								<p>
									Number of tests attempted:<br>
									Total number of tests:<br>
									Aggregate percentage:<br>
									Last Test percentage:
								</p>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-style-2 orange" style="height:228px;">
							<a href="" style="text-decoration:none">
								<img alt src="img/demo-test.png" class="img-responsive">
								<h3>Self Assessment Test</h3>
								<p>
									Number of tests attempted:<br>
									Total Number of Tests:<br>
									Aggregate Percentage:<br>
									Last Test Percentage: 
								</p>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-style-2 blue" style="height:228px;">
							<a href="" style="text-decoration:none">
								<img alt src="img/finaltest-icon.png" class="img-responsive">
								<h3>Final Test</h3>
								<p>
									Number of tests attempted:<br>
									Total Number of Tests:<br>
									Aggregate Percentage:<br>
									Last Test Percentage: 
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="width:100%;">
	<div class="row">
		<div class="container" style="padding:0px;">
			<div class="strip-courses">
				<div class="title-course">
					<h3>Reports</h3>
				</div>
				<div class="description">

				</div>
			</div>
		</div>
	</div>
</div>